{% extends  "layout.twig" %}

{% block content %}
    <h1>Add Job</h1>
    <form action="/CURSO-INTROUCCION-PHP/jobs/add" method="POST" enctype="multipart/form-data">
    <a href="/CURSO-INTROUCCION-PHP">regresar</a><br>
        {% if responseMessage != ""%}
        <div class="alert alert-primary" role="alert">
            {{ responseMessage }}
        </div>
        {% endif %}
        <label for="">Title</label>
        <input type="text" name="title" class="form-control"><br>
        <label for="">Description</label>
        <input type="text" name="description" class="form-control"><br>
        <input type="file" name="logo"/><br>
        <button type="submit" class="btn">Save</button>
    </form>
{% endblock %}
