{% extends "layout.twig" %}

{% block content %}
        <h1>Dashboard</h1>
        <ul>
            <li><a href="/CURSO-INTROUCCION-PHP/user/add">Add User</a></li>
            <li><a href="/CURSO-INTROUCCION-PHP/jobs/add">Add Job</a></li>
            <li><a href="/CURSO-INTROUCCION-PHP/projects/add">Add Project</a></li>
        </ul><br>

        <a href="/CURSO-INTROUCCION-PHP/logout">Logout</a>
{% endblock %}